#root {
  background-image: url("../public//Assets/Jada.jpeg");
  height: 98vh;
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

#testKnapp {
  border-radius: 25px;
  width: 60vw;
  height: 10vh;
  padding-left: 20px;
  padding-right: 20px;
  font-size: larger;
  font-weight: bolder;
  background: rgb(199, 132, 7);
}
