#hpDiv{
  background-image: url('../public//Assets/Sunset-Wallpaper-For-Phone-HD.jpg');
  height: 89vh;
  background-size: cover;
  padding-top: 30vh;
}

#testKnapp{
  border-radius: 50px;
  width: 60vw;
  height: 10vh;
  padding-left: 20px;
  padding-right: 20px;
  font-size: larger;
  font-weight: bolder;
  background: rgb(199, 132, 7);
}
