@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
#root {
  background-image: url("/Assets/Jada.jpeg");
  background-attachment: fixed;
  min-height: 100vh;
  max-height: max-content;
  background-size: cover;
  background-position: center;
  font-family: "Roboto Mono", monospace;
}

#testKnapp {
  border-radius: 25px;
  width: 60vw;
  height: 10vh;
  padding-left: 20px;
  padding-right: 20px;
  font-size: larger;
  font-weight: bolder;
  background: rgb(199, 132, 7);
}
