#loginButton {
  border-radius: 25px;
  max-width: 200px;
  width: 90%;
  height: 5vh;
  font-size: larger;
  
}

#loginButton {
  border-radius: 25px;
  max-width: 200px;
  width: 90%;
  height: 5vh;
  font-size: larger;
  
}
#registerButton {
  border-radius: 25px;
  max-width: 200px;
  width: 90%;
  height: 5vh;
  font-size: larger;
  
}
#loginH2 {
  font-size: 40px;
  margin-top: 2rem;
}

#loginP {
  font-size: 15px;
  margin-top: 2em;
}

#loginDiv {
  font-size: 15px;
  margin-top: 2em;
}
#loginLink {
  font-size: 15px;
  margin-top: 2em;
}

.loginForm {
  text-align: center;
  align-items: center;
  max-width: 25rem;
  width: 100%;
  margin: 2rem auto;
}
#loginH2 {
  font-size: 22px;
}

#registerError {
  font-size: 15px;
  margin-top: 2em;
}
