#hpDiv {
  padding-top: 30vh;
}

#testKnapp {
  border-radius: 25px;
  width: 60vw;
  height: 10vh;
  padding-left: 20px;
  padding-right: 20px;
  font-size: larger;
  font-weight: bolder;
  background: rgb(199, 132, 7, 0.7);
}

#searchJourneyForm {
  margin-top: 25vh;
}

.seat {
  background-color: rgb(73, 134, 29);
  /* color: white;
  max-width: 25px;
  margin-top: 10px;
  border-radius: 3px;
  padding: 4px; */
}

#selectRoutesForm {
  color: white;
  background: rgb(199, 132, 7, 0.8);
}

#selectRoutesForm::-webkit-input-placeholder {
  color: white;
}

#selectRoutesForm:focus {
  color: white;
}

#selectRoutesForm::selection {
  box-shadow: rgb(199, 132, 7, 0.8);
}

/* .seat {
  color: white;
  background: green;
  padding: 15px;
  margin: 10px;
  max-width: 300px;
  justify-content: center;
} */

.seatSelected {
  // /* max-width: 25px;
  // margin-top: 10px;
  // border-radius: 3px;
  // padding: 4px;
  // color: white; */
  background: rgb(69, 142, 226);
}

.occupiedSeat {
  background: rgb(128, 11, 11);
}

.handicapSeat {
  background-color: orange;
}

.seatInfoHandicap {
  background-color: orange;
  height: 20px;
  width: 50px;
  border-radius: 8px;
  margin-left: 40px;
  padding-bottom: 5px;
}

#myTickets{
  margin-bottom: 7vh;
}
