#hpDiv {
  padding-top: 30vh;
}

#testKnapp {
  border-radius: 25px;
  width: 60vw;
  height: 10vh;
  padding-left: 20px;
  padding-right: 20px;
  font-size: larger;
  font-weight: bolder;
  background: rgb(199, 132, 7, .7);

}

#searchJourneyTest {
  margin-top: 30vh;
}

.seat {
  background-color: rgb(73, 134, 29);
  /* color: white;
  max-width: 25px;
  margin-top: 10px;
  border-radius: 3px;
  padding: 4px; */

}

#selectRoutesForm {
  background: rgb(199, 132, 7, .8);

}

#selectRoutesForm::-webkit-input-placeholder {
  color: white;
}

#selectRoutesForm::selection {
  box-shadow: rgb(199, 132, 7, .8);
}


/* .seat {
  color: white;
  background: green;
  padding: 15px;
  margin: 10px;
  max-width: 300px;
  justify-content: center;
} */

.seatSelected {
  // /* max-width: 25px;
  // margin-top: 10px;
  // border-radius: 3px;
  // padding: 4px;
  // color: white; */
  background: rgb(69, 142, 226);
}

.occupiedSeat {
  background: rgb(128, 11, 11);
}